importFrom("methods", "new", "show", "slot", "slot<-", "slotNames",
           "validObject")
importFrom( "miscTools", "nObs" )
importFrom( "miscTools", "nParam" )
importFrom( "miscTools", "stdEr" )
importFrom("stats", "coef", "logLik", 
           "vcov")

exportClasses(Estimates, Results)

exportMethods(coefTable,
              coerce,
              optValue,
              rSquared,
              show,
              stdEr,
              xtable)
